* {

}

body {
  background-color: #ece6e0;
  margin: 5vw;

}

button {
  background-color: #ece6e0;
  border: 0.1vw solid #3f3f3f;
  padding: 0.5vw;
  color: #3f3f3f;
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #ece6e0;
  border: 0.1vw solid #3f3f3f;
  padding: 1vw;
  color: #3f3f3f;
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
}


.button:hover{
    border: 0.1vw solid #3f3f3f;
    background: #3f3f3f;
    color: #ece6e0;
}

.notbutton {
  background-color: #ece6e0;
  border: 0.1vw solid #3f3f3f;
  padding: 1vw;
  color: #3f3f3f;
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  background-color: white;
  align-items: center;
  margin: auto;
  width: 70%;
  position: relative;
  height: 932px;

}

.title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 7.5%;
  left: 4.1%;
}

.subtitle {
  font-family: 'Georgia', serif;
  font-size: 13px;
  font-weight: regular;
  position: absolute;
  top: 15%;
  left: 4.1%;
}

.img {
  position: absolute;
  top: 3.9%;
  right: 1.6%;
}







@media only screen and (max-width: 1000px) {
  body {

  }

  .change {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: cornflowerblue;
    font-weight: 600;
  }

  @media only screen and (max-width: 500px) {
    body {

    }

    .change {
      font-size: 2vw;
      font-family: 'Montserrat', sans-serif;
      color: skyblue;
      font-weight: 600;
    }
