* {

}
body {
  background-color: #ede5dd;
  font-family: 'Montserrat', sans-serif;
}


html {
  scroll-behavior: smooth;
}



h1 {
  font-family: 'Montserrat', sans-serif;
  color: #AD7963;
}

.img {

}

.img1 {
  position: absolute;
  right: 30px;
  top: 30px;
}

.img2 {
  position: absolute;
  right: 30px;
  top: 45px;
}


.dropbtn {
  background-color: #ede5dd;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 45px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 100px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: #AD7963;
  padding: 10px 9px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  font-weight: 600;
}

.show {display: block;}


.container {
  display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 8vw);
    grid-gap: 1vw;
    margin:2% auto;

 }


.item {}
.item1 {

    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: red;


}










@media only screen and (max-width: 1000px) {
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
  }

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #AD7963;
}

.img {

}

.img1 {
  position: absolute;
  right: 30px;
  top: 30px;
}

.img2 {
  position: absolute;
  right: 30px;
  top: 45px;
}


.dropbtn {
  background-color: #ede5dd;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 45px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 100px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: #AD7963;
  padding: 10px 9px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  font-weight: 600;
}

.show {display: block;}


.container {
  width: 100%;
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 8vw);
    grid-gap: 1vw;
    background-color: white;

 }


.item {}


button {
  border: none;
  font-size: 25px;
}

.menu{
     
}


.accordion {
  font-family: 'Montserrat', sans-serif;
  background-color: #AD7963;
  color: #ede5dd;
  cursor: pointer;
  width: 250px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}


/*
.active, .accordion:hover {
  font-weight: 600;
}
*/


.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 8vw);
  grid-gap: 30px;
}

.object {
  font-size: 16px;
}

.object1 {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 2;
    grid-row-end:2;
}


.object2 {
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.object3 {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.object4 {
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.object5 {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.object6 {
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.object7 {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 5;
    grid-row-end: 5;
}

.object8 {
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start: 5;
    grid-row-end: 5;
}

.object9 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

.object10 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

.object11 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7;
}


