

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #AD7963;
  background-color:#ede5dd;
  padding: 3%;
}

.img {

}

.img1 {
  position: absolute;
  right: 30px;
  top: 30px;
}

.img2 {
  position: absolute;
  right: 30px;
  top: 45px;
}


.dropbtn {
  background-color: #ede5dd;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 45px;

}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 100px;
  overflow: auto;
  z-index: 1;

}

.dropdown-content a {
  color: #AD7963;
  padding: 10px 9px;
  text-decoration: none;
  display: block;
  border-radius: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.dropdown a:hover {
  font-weight: 600;
  background-color: white;
}

.show {display: block;}


.container {
  width: 100%;
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 8vw);
    grid-gap: 1vw;
    background-color: white;

 }


.item {}


button {
  border: none;
  font-size: 20px;
  border-radius: 25px;
}

.menu{

}


.accordion {
  font-family: 'Montserrat', sans-serif;
  background-color: #AD7963;
  color: #ede5dd;
  cursor: pointer;
  width: 130px;
  padding: 5px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}


/*
.active, .accordion:hover {
  font-weight: 600;
}



.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}
*/
#menu img {
  width: 80%;
}

.columns {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  text-align: center;
  font-size: 14px;
}

.column-block {
  width: 40%;
  padding: 5%;
}

.one {

}

.two {

}

.three {

}

.four {

}

.column-block-food {
  width: 100%;
  padding: 5%;
  text-align: center;
}

.column-block-special {
  width: 100%;
  padding: 5%;
  text-align: center;
}

#hot {
  padding-top: 10%;
}

#cold {
  padding-top: 10%;
}

#special {
  padding-top: 10%;
}

#food {
  padding-top: 10%;
}

#visit {
  padding-top: 10%;
}

p {
  max-width: 200px;
}


@media only screen and (min-width: 600px) {

  html {
  scroll-behavior: smooth;
}

  body {
    font-family: 'Montserrat', sans-serif;
    margin: 5%;

  }

  .accordion {
  font-family: 'Montserrat', sans-serif;
  background-color: #AD7963;
  color: #ede5dd;
  width: 130px;
  padding: 5px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
}

.special {
  font-size: 14px;
}

.column-block {
  width: 10%;
}

.column-block-food {
  width: 15%;

}

#menu img {
  width: 80%;
  min-width: 80px;
}



p {
  max-width: 1000px;
}
  }
