* {

}
body {
  background-color: red;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  color: #AD7963;
}

.img {

}

.img1 {
  position: absolute;
  right: 30px;
  top: 30px;
}

.img2 {
  position: absolute;
  right: 30px;
  top: 45px;
}


.dropbtn {
  background-color: #ede5dd;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 45px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 100px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: #AD7963;
  padding: 10px 9px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  font-weight: 600;
}

.show {display: block;}


@media only screen and (max-width: 320px) {
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
  }

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #AD7963;
}

.img {

}

.img1 {
  position: absolute;
  right: 30px;
  top: 30px;
}

.img2 {
  position: absolute;
  right: 30px;
  top: 45px;
}


.dropbtn {
  background-color: #ede5dd;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 45px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 100px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: #AD7963;
  padding: 10px 9px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  font-weight: 600;
}

.show {display: block;}
